.header {
    height: 70px;
    width: 100%;
    background: linear-gradient(90deg, #4a77e8 0%, #5282ff 58.05%);
    padding: 0 var(--g-spacing-3);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}