.message-list {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch; 

    &__content {
        max-width: 800px; 
        width: 100%;
        margin: 0 auto;
        padding: 16px;
    }

    &__message {
        max-width: 85%; 
    }

    &::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 100px;
    }
}