.comment {
    padding: var(--g-spacing-4) var(--g-spacing-3);
    width: 90%;
    border-radius: 10px;
    word-wrap: break-word; 
    white-space: pre-wrap; 
    overflow-wrap: break-word;
    position: relative;
    margin-bottom: 8px;

    &::after {
        content: '';
        position: absolute;
        width: 12px;
        height: 12px;
        bottom: 0px;
        transform: rotate(0deg);
    }

    &_direction {
        &_robot {
            background: var(--g-color-base-info-heavy);
            color: var(--g-color-text-light-primary);
        }

        &_user {
            background: var(--g-color-base-neutral-light);
        }
    }
}

@media (max-width: 767px) {
    .comment {
        max-width: 280px; 
        border-radius: 18px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

        &_direction {
            &_robot {
                align-self: flex-start; 
                border-radius: 18px 18px 18px 4px; 
            }

            &_user {
                align-self: flex-end; 
                border-radius: 18px 18px 4px 18px; 
            }
        }
    }

    @media (min-width: 375px) {
        .comment {
            max-width: 310px;
        }
    }

    @media (min-width: 428px) {
        .comment {
            max-width: 350px;
        }
    }
}

.comment a,
.comment code,
.comment pre {
    word-break: break-all;
    overflow-wrap: anywhere;
}